.DS_Store
pnc_data/*
parameter_space/*.mat
parmaeter_space/*.pyc
python_functions/*.pyc
python_functions/generate_old_and_young_groups.py
subject_indices/*.mat
ts36_wavelets_censor/*.mat
ts36_wavelets_censor/*.pyc
ts36_wavelets_censor/*.hdf5
ts36_wavelets_highpass/*.mat
ts36_wavelets_highpass/*.hdf5
ts36_wavelets_highpass/*.pyc
ts36_wavelets_highpass/temporal_weights/*.mat
ts36_wavelets_highpass/temporal_weights/*.pyc
figures/**/*.ai
figures/**/*.pdf
figures/**/*.eps
figures/**/*.node


